    main{
      height: 100%;
    }
    main > hr{
      width: 100%;
      border: 1.2px solid ;
    }
    
    

      main> section {
        
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;
        
      }
      iframe{
    width:100%;
    height: 80%;
  }
      a,h3,h4,h2,h1{
        
        color: rgba(27, 188, 233, 0.849);
        text-decoration: none;
        
        
      }
      #adminroutecontainer{
    width: 45%;
   
  
}

.routeparts{
    display: flex;
    flex-direction: column;
    margin: 1%;
    font-size: 40%;
}

.routeleft{
    background-image: url("../images/Home1.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    width: 25%;
  }

  .routemiddle{
    width: 45%;
  }
  .routeright{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .cardtitle{
    margin-top: -15%;
    font-size: 150%;
  }

  .cardtext{
    font-size: 125%;
  }