
header {
  background-image: url("../images/Home1.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  background-position: center center;
}



main {
  background-image: linear-gradient(rgb(48, 180, 217),yellow) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10%;
}

.headermiddlesection{
  height: 80%;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}
.headermiddlesection > *{
  margin: 1.5%;
  font-size: 3vw;
}

.localInfoContainer{
  width: 100%;
  margin: 4%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-content: center;
  justify-content: space-between;
 
}


.texthalf{
  width: 50%;
  height: 100%;
  font-size: 2vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.texthalf> h2{
  font-size: 1.5vw;
  font-weight: normal;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}

.texthalf> a{
  font-size: 2vw;
}

.imagehalf{
  width: 50%;
  height: 100%;
}


footer {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  align-self: center;
  margin: auto;
}
footer > a {
  padding-right: 10px;
}

footer > section {
  margin-top: 5%;
  
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > article{
  display: flex;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
  
}

footer > article > section {
  background-image: url("../images/Home2.jfif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: xx-large;
}
footer > article > section > a {
  padding-bottom: 2%;
}


hr{
  border: 1px solid ;
  width: 30%;
}
.hrleft{
  margin-left: 4%;
  margin-right: 6%;
}
.hright{
  margin-right: 4%;
  margin-left: 6%;
}


a{
    
  color: rgb(245, 245, 245);
  text-decoration: none;
  
  
}






















