
header{
    height: 100%
    /*height: 50%;*/
    
  }


.bottomsection{
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
    
}

.centersection{
  height: 10%;
  margin-bottom: -4%;
}



