header {
  background-image: url("../images/Home1.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center center;
}


.bottomsection {
  width: 100%;
  height: 70%;
  margin: 1%;
  align-items: flex-start;
  justify-content: center;
}

.centersection{
  height: 10%;
  font-size: 1.3vw; 
  }



