body {
    height: 800px;
    background-color: #08a9ba;

}

header{
    background-image: url("../images/Home1.jfif");
    background-size: cover;
    height: 40%;
    height: 100%;
    
  }
main{
    font-family: Nunito;
    min-height: 50px;
    display: flex;
    margin-bottom: 100%;
    margin-left: 36%;
    margin-right: 40%;

    
}



a{
    font-size: 20px;
    color: rgb(245, 245, 245);
    text-decoration: none;  
    
  }

  a:hover{
    color: black;
  }