body{margin: 0.1%;
;}
main {
  width: 100%;
  height: 30%;
}
main > hr{
  width: 100%;
  border: 1.2px solid ;
}
footer {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    
  }

  footer > li {
    width: 21%;
    height: 15%; 
    background-color: rgb(249, 242, 52);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer > li > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 1%;
    font-size: 40%;
  }



  .routeleft{
    background-image: url("../images/Home1.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    width: 35%;
  }

  .routeright{
    width: 65%;
  }

  .cardtitle{
    margin-top: -15%;
    font-size: 150%;
  }

  .cardtext{
    font-size: 125%;
  }

  a,h3,h4,h2,h1{
    
    color: rgba(27, 188, 233, 0.849);
    text-decoration: none;
    
    
  }

