body {
  background-color: rgb(214, 213, 206);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.warning {
  color: darkred;
  font-size: larger;
}

.test{
  color : orange; font-size: 12 px
}


main {
  background-color: rgb(229, 199, 89);
}
header a{
  color: rgb(245, 245, 245);
  
  text-decoration: none;
}


a{
  color: black;
}/* mouse over link */
a:hover {
  color: rgb(247, 202, 0);
}




/*buttons*/
header a + .button{
  background-color: rgb(237, 232, 232);
  color: rgb(0, 0, 0);
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button{
  background-color: black;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.center{
  text-align: center;
}




#matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#matches section {
  background-color: crimson;
  color: white;
  margin: 5px;
  padding: 5px;
}

/* Game CSS*/
#game {
  position: relative;
}

button.game {
  font-size: 1.5em;
  background-color: #2ea44f;
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

