header > nav {
    
    
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20%;
  
  }
  main{
    font-family: Nunito;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding: 0%;
    
  }
  main > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
    
    width: 50%;
    height: 100%;
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  iframe{
    width:100%;
    height: 80%;
  }

  a{
    
    color: rgb(245, 245, 245);
    text-decoration: none;
    
    
  }