header > nav {
    
    
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20%;
  
  }

  a{
    
    color: rgb(245, 245, 245);
    text-decoration: none;
    
    
  }